.grid {
  display: grid;
  grid-auto-rows: 90px;
  grid-auto-columns: 80px;
  gap: 10px;
  justify-content: center;
  /* justify-items: center;
  align-items: center; */
}

.cell {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: 35px;
  font-family: Roboto, Helvetica, Arial;
  font-weight: 200;
  text-transform: uppercase;
}