.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-auto-rows: calc(var(--cell-size) * 1.04);
  grid-auto-columns: calc(var(--cell-size) * 1.04);
  gap: calc(var(--cell-size) * 1.04 / 10);
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: whitesmoke;
  font-size: calc(var(--cell-size) * 0.6);
  font-family: Roboto, Helvetica, Arial;
  font-weight: 200;
  text-transform: uppercase;
  min-width: calc(var(--cell-size) * 1.04);
  min-height: calc(var(--cell-size) * 1.04);
  margin: calc(var(--cell-size) * 0.04);
  border-radius: calc((var(--cell-size) * 1.04) / 10);
}

.undefined {
  background-color: transparent;
  border: 1px solid yellow;
  min-width: var(--cell-size);
  min-height: var(--cell-size);
}

.notFound {
  background-color: rgb(72, 72, 72);
}

.inUncorrectPosition {
  background-color: whitesmoke;
  color: black;
}

.inCorrectPosition {
  background-color: yellow;
  color: black;
}

.input {
  box-shadow: 0px 0px calc(var(--cell-size) * 0.1) yellow;
}

.Btn {
  display: flex;
  min-width: calc(var(--cell-size) * 5 * 1.08);
  min-height: var(--cell-size);
  justify-content: center;
  align-items: center;
  font-size: calc(var(--cell-size) * 0.5);
  font-family: Roboto, Helvetica, Arial;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 7px;
  border-radius: calc((var(--cell-size) * 1.04) / 10);
  margin-top: 10px;
  
}

.checkBtnDisabled {
  background-color: rgb(72, 72, 72);
  color: rgb(147, 147, 147);
  cursor: not-allowed;
}

.checkBtnAllowed {
  cursor: pointer;
  background-color: yellow;
  color: rgb(25, 25, 25);
}

.checkBtnAllowed:hover {
  box-shadow: 0px 0px calc(var(--cell-size) * 0.1) yellow;
}

.nextBtnAllowed {
  cursor: pointer;
  background-color: whitesmoke;
  color: rgb(25, 25, 25);
}

.answer {
  display: flex;
  color: gray;
  justify-content: center;
  margin-top: 5px;
}